/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TAGS */

header {
    background-color: rgb(235, 92, 82);
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: rgba(0, 0, 255, 0);
    border: none;
}

/* IDs */

#logo {
    min-width: 45px;
    max-width: 45px;
    padding: 5px;
}

#logo:hover .cls-1 {
    transition: all .5s ease-in-out;
    stroke: rgb(70, 32, 6);
}

#logo:hover .cls-2 {
    transition: all .5s ease-in-out;
    fill: rgb(70, 32, 6);
}

/* CLASSES */

.cls-1 {
    transition: all .5s ease-in-out;
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 12.15px;
  }

  .cls-2 {
    transition: all .5s ease-in-out;
    fill: #ffffff;
    stroke-width: 0px;
  }

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px
}

.nav-menu-stay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: blue;
}

/* BUTTON */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        padding: 15px;
        flex-direction: column;
        background-color:rgb(70, 32, 6);
        width: 35%;
        text-align: center;
        transition: all .5s ease-in-out;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }
}